{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% block corecss %}
    
        {% endblock %}
        
        {% block extracss %} 
        <!-- Link to Home Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        {% endblock %}

        <!-- Include Core JS -->
    
        {% block extra_js %}
        {% endblock %}
    
        <title>Arin Beauty {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Home Section -->
        <section id="arinbeauty-home overlay">
            <a href="{% url 'store' %}" id="text" class="shop-now-button btn btn-lg rounded-0 text-uppercase text-white py-3">
            Shop Now
            </a>
        </section>
        {% block postloadjs %}
    {% endblock %}    
    </body>
</html>
