html {
    height: 100%;
}

body {
    background: url('/media/serum-header.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.logo-font {
    text-transform: none;
    margin: 4px 30px;
}
.logo-font-header {
    text-transform: none;
    margin: 5px;
    font-family: 'Damion', cursive;
    color: rgb(123, 123, 133);
    text-shadow: 4px 4px #000;
}
.small {
    font-weight: bold;
}
/* rotwte text */
.rotate {
    font-size: 110px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.main-logo-link {
    width: fit-content;
    margin: 20px;
}

.shop-now-button {
    background: #000;
    color: white;
    border-radius: 10px !important;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: url('/media/gold-snow.jpg');
    color: rgb(248, 244, 244);
}

.text-black {
    color: #000;
}

.border-black {
    border: 1px solid black !important;
}

.logo-gold{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 100%;
    font-family: 'Damion',cursive;
    letter-spacing: .2rem;
    font-size: 80px;
    font-weight: bold;
    background-image: linear-gradient(
     to right,
     #ca984d 0,
     #f6e27a 22%, 
     #f0df8a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #d8a14f 100%
     );
    color:transparent;
    -webkit-background-clip:text;
 }

.logo-font-small{
     font-family:'Lato', serif;
     font-size: 40px; 
     letter-spacing: .1rem;
 }

.euro {
    font-family: 'Damion',cursive;
    font-size: 40px;
}

/* snow banner image */
.snow{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/media/snow.jpg');
    z-index: -2;
}
.snow:nth-child(1){
    animation: animate 10s linear infinite;
}
.snow:nth-child(2){
    animation: animate 15s linear infinite;
}
.snow:nth-child(3){
    animation: animate 20s linear infinite;
}
.snow:nth-child(4){
    animation: animate 14s linear infinite;
}
.snow:nth-child(5){
    animation: animate 16s linear infinite;
}
@keyframes animate {
    0% {
        background-position-x: 50px;
        background-position-y: 0;
    }
    100% {
        background-position-x: 50px;
        background-position-y: 600px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 100px;
        background-position-y: 0;
    }
    100% {
        background-position-x: 100px;
        background-position-y: 600px;
    }
}
@keyframes animate3 {
    0% {
        transform: scale(1.5);
        background-position-x: -100px;
        background-position-y: 0;
    }
    100% {
        transform: scale(1.5);
        background-position-x: -100px;
        background-position-y: 600px;
    }
}

.bg-black {
    background: transparent;
    padding: 0 20px;
}
.bg-gold {
    color: #000;
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
}

.bg-gold:hover{
    background: linear-gradient(to right, #AFB1AE, #E6E9E5, #B1B1B1, #E6E9E5, #C0C0C0);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #047bf1 !important;
    color: rgb(22, 21, 21) !important;
}
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.btt-link {
    cursor: pointer;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 250px;
    }
}

/* fixed top navbar only on small screens */
@media (max-width: 991px) {
    .header-container {
        padding-top: 220px;
    }

    
    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
        border-color: #000 !important;
        color: #000 !important;
        
    }
}
/* snow banner image */
.snow{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/media/snow.jpg');
    z-index: -2;
}
.snow:nth-child(1){
    animation: animate 10s linear infinite;
}
.snow:nth-child(2){
    animation: animate 15s linear infinite;
}
.snow:nth-child(3){
    animation: animate 20s linear infinite;
}
.snow:nth-child(4){
    animation: animate 14s linear infinite;
}
.snow:nth-child(5){
    animation: animate 16s linear infinite;
}
@keyframes animate {
    0% {
        background-position-x: 50px;
        background-position-y: 0;
    }
    100% {
        background-position-x: 50px;
        background-position-y: 600px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 100px;
        background-position-y: 0;
    }
    100% {
        background-position-x: 100px;
        background-position-y: 600px;
    }
}
@keyframes animate3 {
    0% {
        transform: scale(1.5);
        background-position-x: -100px;
        background-position-y: 0;
    }
    100% {
        transform: scale(1.5);
        background-position-x: -100px;
        background-position-y: 600px;
    }
}