<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="skin-care-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="christmas-link">
                <a href="{% url 'blog' %}" class="dropdown-item">Blog Posts</a>	
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="christmas-link">
                <a href="{% url 'about' %}" class="dropdown-item">Our Story</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="skin-care-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sustainability Promise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="christmas-link">
                <a href="{% url 'sustainability' %}" class="dropdown-item">Our Promise</a>	
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="cosmetics-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="christmas-link">
                <a href="{% url 'store' %}" class="dropdown-item">Shop</a>
            </div>
        </li>
    </ul>
</div>
