<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="cosmetics-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cosmetics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cosmetics-link">
                <a href="{% url 'products' %}?category=face" class="dropdown-item">Face</a>
                <a href="{% url 'products' %}?category=eyes"  class="dropdown-item">Eyes</a>
                <a href="{% url 'products' %}?category=lips"  class="dropdown-item">Lips</a>
                <a href="{% url 'products' %}?category=face,eyes,lips"  class="dropdown-item">All Cosmetics</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="skin-care-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skin Care
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skin-care-link">
                <a href="{% url 'products' %}?category=moisturiser" class="dropdown-item">Moisturiser</a>
                <a href="{% url 'products' %}?category=cleanser" class="dropdown-item">Cleanser</a>
                <a href="{% url 'products' %}?category=serums" class="dropdown-item">Serums</a>
                <a href="{% url 'products' %}?category=all_skin_care" class="dropdown-item">All Skin Care</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="skin-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skin Type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skin-type-link">
                <a href="{% url 'products' %}?category=sensitive" class="dropdown-item">Sensitive</a>
                <a href="{% url 'products' %}?category=dry" class="dropdown-item">Dry</a>
                <a href="{% url 'products' %}?category=oily" class="dropdown-item">Oily</a>
                <a href="{% url 'products' %}?category=combination" class="dropdown-item">Combination</a>
                <a href="{% url 'products' %}?category=sensitive,dry,oily,combination" class="dropdown-item">All Skin Types</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="christmas-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Christmas
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="christmas-link">
                <a href="{% url 'products' %}?category=gift_sets" class="dropdown-item">Gift Sets</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>	
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="blog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
            <div class="dropdown-menu border-0" aria-labelledby="christmas-link">
                <a href="{% url 'blog' %}" class="dropdown-item">Our Blog</a>	
            </div>
        </li>
    </ul>
</div>
