{% extends "blogbase.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
                <hr>
                <h3 class="">About Arin Beauty Products:</h3>
                <hr>

                {% for post in posts %}
                    <article>
                        <h2 class="title">
                            {{ post.title }}
                        </h2>
                        <time>{{ post.date_added|date:"M Y h:i" }}</time>
                        <p>{{ post.intro }}</p>
                        <a href="{% url 'detail' post.slug %}">Read More...</a>

                    </article>
                {% endfor %}
            </div>
        </div>

       
{% endblock %}

{% block postloadjs %}
{% endblock %}