{% extends "blogbase.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="blog-overlay"></div>
    <div class="row text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="{{ MEDIA_URL }}logo.png" alt="decor" class="blog-logo-img">
                </div>
            </div>
        </div>
    </div>
            <div class="container-fluid text-center container-sustain">
                <div class="row">
                    <div class="col-12">
                        <p class="team-heading title"><strong>Our Story</strong></p>
                    <p>Formed in 2018 we started as a beauty-related blog, Arin Beauty Blog, and a YouTube channel.<br> Growing from here and finding success on other platforms we launched our first cosmetic line in 2019. <br>Our first website in was published in 2020 and we have since become one of the world's fastest-growing beauty brands. <br>We have always strived to maintain the highest standards and use only natural and ethically sourced ingredients for our skincare products.</p>
                <p class="rotate signature">Arin Beauty <br>xoxo</p></div>
                <br>
                    <section class="jumbotron text-center container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <p class="team-heading title"><strong>Our Team</strong></p>
                            </div>
                        </div>
                    <br>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="media">
                                    <div class="d-sm-block">
                                        <img src="/media/laura-head-sales-crop.jpg" alt="woman" class="team-image rounded-circle mr3">
                                    </div>
                                    <div class="media-body">
                                        <blockquote>
                                            <h6 class="team-role">Marketing Director</h6>
                                            <p class="team">Laura McGillian</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="media">
                                    <div class="d-sm-block">
                                        <img src="/media/product-researcher-cropped.jpg" alt="woman" class="team-image rounded-circle mr3">
                                    </div>
                                    <div class="media-body">
                                        <blockquote>
                                            <h6 class="team-role">Product Researcher</h6>
                                            <p class="team">Joy Brookes</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="media">
                                    <div class=" d-sm-block">
                                        <img src="/media/skincare-consultant-cropped.jpg" alt="woman-with-laptop" class="team-image rounded-circle mr3">
                                    </div>
                                    <div class="media-body">
                                        <blockquote>
                                            <h6 class="team-role">Skincare Consultant</h6>
                                            <p class="team">Sara Whitfield</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="media">
                                    <div class="d-sm-block">
                                        <img src="/media/social-media.jpg" alt="woman" class="team-image rounded-circle mr3">
                                    </div>
                                    <div class="media-body">
                                        <blockquote>
                                            <h6 class="team-role">Social Media Manager</h6>
                                            <p class="team">Ted Daly</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}