{% extends "blogbase.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Blog</h2>
                <hr>

                {% for post in posts %}
                    <article>
                        <div class="container">
                        <h2 class="title">
                            {{ post.title }}
                        </h2>
                        <time>{{ post.date_added|date:"M Y h:i" }}</time>
                        <p>{{ post.intro }}</p>
                        <a href="{% url 'post_detail' post.category.slug post.slug %}">Read More...</a>
                    </div>
                    </article>
                    <br>
                {% endfor %}
            </div>
        </div>

{% endblock %}

{% block page_footer %}
{% endblock %}
{% block postloadjs %}
{% endblock %}