{% extends "blogbase.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
                <!-- Blog Image -->
    <div class="blog-overlay"></div>
    <div class="row text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="{{ MEDIA_URL }}logo.png" alt="decor" class="blog-logo-img">
                </div>
            </div>
        </div>
    </div>
    <div class="blog-container">
    <hr class="blog-hr">
    <!--- To display all the Posts available --->
    <div class="posts">
        {% for post in posts %}
            {% if posts %}
                <div class="row mt-4">
                    <div class="col-8 offset-2">
                        <h3 class="blog-title mt-3">{{ post.title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="text-muted">{{ post.date_added | date:"d M - Y | h:i"}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 offset-2">
                        <article class="review-desc text-muted">{{ post.intro }}</article>
                            
                    </div>
                </div>
                <div class="row pb-2 mt-3 mb-5">
                    <div class="col-8 offset-2">
                        <a href="{% url 'post_detail'  post.slug %}" class="cta-button blog-btn">Read more...</a>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-8 offset-2">
                        <h2> No Posts Available</h2>
                    </div>
                </div>
            {% endif %}
    {% endfor %}
</div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}-->