{% extends "blogbase.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="blog-overlay">
    <div class="container card">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font-large mb-4 text-center">Arin Beauty Blog</h2>
                {% for post in posts %}
                    <article class="container blog-container container-sustain">
                        {% if post.image %}
                        <a href="{% url 'post_detail' post.slug %}">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ post.image.url }}" alt="image for {{ post.title }}" class="product-image">
                                </figure>
                            </div>
                        </a>
                        {% else %}
                        <div class="card-image">
                            <figure class="image is-3by4">
                                <img src="{{ post.image.url }}" alt="image for {{ post.title }}">
                            </figure>
                        </div>
                        {% endif %}
                        <br>
                        <div class="title blog-title">
                        <h2>
                            {{ post.title }}
                        </h2>
                        <time>{{ post.date_added|date:"M Y h:i" }}</time>
                        <h5><small>Author: {{ post.author }}</small></h5>
                        <p>{{ post.intro }}</p>
                        <a href="{% url 'post_detail' post.slug %}">Read More...</a>
                    </div>
                    </div>
                    </article>
                {% endfor %}
            </div>
            </div>
        </div>
{% endblock %}