{% extends "blogbase.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <article class='content'>
                    <h1>{{ post.title }}</h1>
                    <time>{{ post.date_added|date:"M Y h:i" }}</time> <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></small></p>
                <hr>
                    <img src="{{ post.image }}" alt="">
                        <a href="{{ post.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </a>
                    <br>  
                    <h2>Description</h2>
                    <br>
                    <p>{{ post.content }}</p>
                    <br>
                    <p>Author: {{ post.author }}</p>
                <hr>
                    <h4>Comments</h4>

                    {% if not post.comments.all %}
                        <p>No comments yet.</p>
                    {% endif %}

                    {% for comment in post.comments.all %}
                        <article>
                            <strong>
                                {{ comment.title }} at {{ comment.date_added }}
                            </strong><br>
                            {{ comment.description }}
                        </article>
                    {% endfor %}
                    
                    <h4>Add a comment</h4>
                    
                    <form method="POST" action=".">
                        {% csrf_token %}

                        {{ form.as_table }}

                        <input type="submit" value="Add comment">
                    </form>
                </article>
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}