{% extends "blogbase.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="blog-overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center">Arin Beauty Blog</h2>
                <hr><br>
                        <article class="content container-sustain">
                            <h1 class="text-center">{{ post.title }}</h1>
                        <hr>
                        
                    {% if post.image %}
                    <a href="{% url 'post_detail' post.slug %}">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ post.image.url }}" alt="image for {{ post.title }}" class="product-image">
                            </figure>
                        </div>
                    </a>
                    {% else %}
                    <div class="card-image">
                        <figure class="image is-3by4">
                            <img src="{{ post.image.url }}" alt="image for {{ post.title }}">
                        </figure>
                    </div>
                    {% endif %}
                            <br>  
                            <h3>{{ post.title }}</h3>
                            <br>
                            <h4>{{ post.intro }}<h4>
                                <p>{{ post.content }}</p>
                            <br>
                            <h5><small>Author: {{ post.author }}</h5>
                            <time>{{ post.date_added|date:"M Y h:i" }}</small></time></p>
                        <hr>
                    {% if request.user.is_superuser %}
                    <div class="content container-sustain">
                            <p class="m1-3">
                                <a href="{% url 'add_post' %}">Add a blog post</a>
                            </p>
                                <p>Posted by: <span class="blog-small">{{ post.author }}</span></p>
                                <p>{{ post.date_added|date:"M Y h:i" }}</p>
                               <!----{% if post.author == request.user %}--->
                               <a href="{% url 'edit_post' post.slug %}" class="button is-danger">Edit Post</a>
                               <a href="{% url 'delete_post' post.slug %}" class="button is-danger is-light">Delete Post</a>
                               {% endif %}
                           </div>
                    {% endif %}
                <div class="container-sustain">
                <h5>Comments</h5>
                    <!--Placeholder if no comments posted yet.-->
                    {% if not post.comments.all %}
                        <p>No comments yet.</p>
                    {% endif %}
                    <!--For customers comments to appear on the review blogs-->
                    {% for comment in post.comments.all %}
                        <article>
                            <p>{{ comment.title }} <br>
                                {{ comment.description }}<br> by {{ comment.name }} <br><small>{{ comment.date_added }}</small></p>
                        </article>
                    {% endfor %}
                    <!--For customers to post comments on the review blogs-->
                    <h5>Add a comment</h5>
                    <form method="POST" action=".">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" value="Add comment">
                    </form>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}