{% extends "blogbase.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="blog-overlay"></div>
    <div></div>
    <h1 class="history title">Our Sustainability Promise to You</h1>
    <div class="container container-sustain">
        <div class="row">
            <div class="col">
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui harum cum aliquid nesciunt, consectetur ipsam quia optio perferendis laborum quos excepturi eum totam omnis reprehenderit ad unde quae explicabo. Fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque exercitationem laborum dolorem? Aperiam sit possimus dolores, porro magnam illum aspernatur tenetur assumenda unde ipsa ut cum fugiat voluptatibus, dolor corporis.</p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}