{% extends "blogbase.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="blog-overlay"></div>
    <div class="blog-top-small">
    <h1 class="history title">Our Sustainability Promise to You</h1>
    <div class="container container-sustain">
        <div class="row">
            <div class="col">
                <p class="text-center"><span class="sustain-title">Product Awareness</span> <br>Our formulations are packed with clean, safe ingredients that are ethically sourced and always through a transparent supply chain. We blacklist over 1,000 ingredients to ensure that only the best and safest ones go in our products.</p>
                <p class="text-center"><span class="sustain-title">Reusable & Recyclable</span>
                    <br>We ensure everything in our packaging is reusable and recyclable, right down to our water-activated paper tape.
                    We are fully committed to producing packaging that's made with recycled materials by 2024.
                <br>Our specially designed airless pump bottle packaging lets you pump out every last drop of product, reducing product waste.</p>
                <p class="text-center"><span class="sustain-title">What's next for us?</span> <br>
                To become a fully carbon neutral company and erase our <i class="fas fa-shoe-prints"></i></p>
            </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}